@model WishList.Models.Item

    <h3>Add item to wishlist</h3>

    <form asp-action="create" method="post">
        <input type="text" asp-for="Description" name="name" value="" />
        <span asp-validation-for="Description" ></span>
        <button type="submit">Add Item</button>
    </form>